PORT=3000
NODE_ENV=production

DB_HOST=host
DB_PORT=3306
DB_USER=tu_usuario
DB_PASSWORD=tu_password
DB_NAME=tu_base_de_datos

JWT_SECRET=null
JWT_REFRESH_SECRET=null

JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
